/* contenitore palline */
#scatola {
    width: 200px;
    height: 200px;
    border:1px solid;
    color: green;
}
/* palline */
div.box {
    position: relative;
    color: red;
    border: solid;
    width: 20px;
    background: red;
    height: 20px;
}

